<p class="mt-4">Reporte de fecha {{fecha}}</p>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Contagiados
            </div>
            <div class="card-body text-center">
                <div class="spinner-grow text-info" style="width: 3rem; height: 3rem;" role="status" *ngIf="!hayDiario">
                    <span class="sr-only">Loading...</span>
                </div>
                <h5 *ngIf="hayDiario">{{reporteDiario.contagiados}}</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Recuperados
            </div>
            <div class="card-body text-center">
                <div class="spinner-grow text-info" style="width: 3rem; height: 3rem;" role="status" *ngIf="!hayDiario">
                    <span class="sr-only">Loading...</span>
                </div>
                <h5 *ngIf="hayDiario">{{reporteDiario.recuperados}}</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Fallecidos
            </div>
            <div class="card-body text-center">
                <div class="spinner-grow text-info" style="width: 3rem; height: 3rem;" role="status" *ngIf="!hayDiario">
                    <span class="sr-only">Loading...</span>
                </div>
                <h5 *ngIf="hayDiario">{{reporteDiario.fallecidos}}</h5>
            </div>
        </div>
    </div>
</div>

<p class="mt-4">Reporte del sistema {{fecha}}</p>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Contagiados
            </div>
            <div class="card-body text-center">
                <div class="spinner-grow text-info" style="width: 3rem; height: 3rem;" role="status" *ngIf="!hayContagiados">
                    <span class="sr-only">Loading...</span>
                </div>
                <h5 *ngIf="hayContagiados">{{contagiadosSistema}}</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Recuperados
            </div>
            <div class="card-body text-center">
                <div class="spinner-grow text-info" style="width: 3rem; height: 3rem;" role="status" *ngIf="!hayContagiados">
                    <span class="sr-only">Loading...</span>
                </div>
                <h5 *ngIf="hayRecuperados">{{recuperadosSistema}}</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Fallecidos
            </div>
            <div class="card-body text-center">
                <div class="spinner-grow text-info" style="width: 3rem; height: 3rem;" role="status" *ngIf="!hayContagiados">
                    <span class="sr-only">Loading...</span>
                </div>
                <h5 *ngIf="hayFallecidos">{{fallecidosSistema}}</h5>
            </div>
        </div>
    </div>
</div>