<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card mt-4">
                <div class="card-header">
                    Registro de síntomas
                </div>
                <div class="card-body">
                    <form [formGroup] = "sintomasForm">
                        <div class="form-group row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6">
                                <button type="button" class="btn btn-success" (click)="iniciarCaptura()" *ngIf="!capturando">INICIAR CAPTURA</button>
                                <button type="button" class="btn btn-danger" (click)="detenerCaptura()" *ngIf="capturando">DETENER CAPTURA</button>
                            </div>
                            <div class="col-sm-3 text-right" *ngIf="capturando"><span id="time-left">{{tiempoRestante}}</span></div>
                        </div>
                        <div class="form-group row">
                            <label for="temperatura" class="col-sm-3 col-form-label">Temperatura</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="temperatura" formControlName="temperatura">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="spo2" class="col-sm-3 col-form-label">SPO2</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="spo2" formControlName="spo2">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="cardiaco" class="col-sm-3 col-form-label">Ritmo cardíaco</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="cardiaco" formControlName="cardiaco">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="respiratorio" class="col-sm-3 col-form-label">Ritmo respiratorio</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="respiratorio" formControlName="respiratorio">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            Medidas tomadas
            <div class="chart-wrapper">
                <canvas baseChart 
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [chartType]="barChartType">
              </canvas>
            </div>
        </div>

    </div>
</div>
