<div class="container-fluid">
    <div class="row">
        <h3 class="text-center col-sm-12">BIENVENIDOS AL SISTEMA</h3>
        <div class="row col-md-12">
            <div class="col-md-6">
                <app-reporte-diario></app-reporte-diario>
                <p class="mt-4">Reporte semanal</p>
                <app-reporte-semanal></app-reporte-semanal>
            </div>
            <div class="col-md-6">
                <p class="mt-4">Mapa de calor de casos positivos</p>
                <agm-map 
                    [latitude]="lat"
                    [longitude]="lng"
                    [zoom]="zoom"
                    [disableDefaultUI]="false"
                    [zoomControl]="false"
                    (mapReady)="onMapLoad($event)">

                </agm-map>
            </div>
        </div>
    </div>
</div>