<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="card-header">
                Pacientes sin registro hace 2 dias
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Numero de CI</th>
                            <th>Nombres y Apellidos</th>
                            <th>Correo electrónico</th>
                            <th>Fecha de nacimiento</th>
                            <th>Teléfono</th>
                            <th>Télefono de emergencia</th>
                            <th>Ubicación</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="table-body">
                        <tr *ngFor="let p of pacientes">
                            <td>{{p.ci}}</td>
                            <td>{{p.nombres}} {{p.apellidos}}</td>
                            <td>{{p.email}}</td>
                            <td>{{p.nacimiento}}</td>
                            <td>{{p.telefono}}</td>
                            <td>{{p.emergencia}}</td>
                            <td><a href="https://www.google.com/maps/search/?api=1&query={{p.latitud}}%2C{{p.longitud}}" target=_blank>Ver mapa</a></td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#estadoModal" (click)="openModal(p.id, p.estado)">
                                    Cambiar estado
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="estadoModal" tabindex="-1" aria-labelledby="estadoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Cambiar estado</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form class="form-inline" [formGroup] = "estadoForm">
                <label class="my-1 mr-2" for="estado">Cambiar estado</label>
                <select class="custom-select my-1 mr-sm-2" id="estado" formControlName="estado">
                    <option value="CONTAGIADO">CONTAGIADO</option>
                    <option value="RECUPERADO">RECUPERADO</option>
                    <option value="FALLECIDO">FALLECIDO</option>
                </select>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="cambiarEstado()">Guardar</button>
        </div>
      </div>
    </div>
  </div>